@font-face
{
  font-family: "Dancing Script";
  src: url(../Fonts/DancingScript-VariableFont_wght.ttf);
  font-weight: bold;
}
body /*just normal set up*/
{
    margin: 0; padding: 0;
    background-color: rgb(41, 51, 78);
     
}
.container
{
    width: 80%;
    margin: 0 auto; padding: 0; 
}
.clear
{
    clear: both;
}
#slider /*backgrouns setup*/
{
    background-color: rgb(41, 51, 78);
    background-image: url(../images/group2.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    position: relative;
    width: auto;
    text-align: center;
}
#slider .change /*buttons setup*/
{
    background-color: rgba(255, 255, 255, 0);
    border: none; display: inline-block;
    margin: 0; position: absolute;
}
.fa.fa-arrow-left, .fa.fa-arrow-right /*arrows*/
{
    font-size: 150%; color: #F13454;
}
#slider h1
{
    margin-top: 0; padding-top: 3%;
    font-family: 'Times New Roman', Times, serif; font-weight: bold;
    text-transform: uppercase;
    color: rgba(241, 52, 84, .7);
}
#slider h2
{
    text-transform: capitalize;
    font-family: "Dancing Script";
    margin-top: 5%;
    color: rgba(241, 52, 84, .7);
}
/*navigation*/
nav
{
    background-color: rgb(41, 51, 78);
    height: 12vh;
}
nav .container
{
    height: 12vh;
}
.logo
{
    height: 8vh; margin: 2vh;
    float: left;
}
nav h2
{
    float: left; color: rgb(241, 52, 84);
    text-transform: uppercase;
    line-height: 12vh; font-weight: bold;
    margin: 0; padding: 0;
    font-family: "Dancing Script"; font-size: 200%;
}
nav #main/*styling ul*/
{
    float: right;
    list-style: none;
    padding: 0; margin-bottom: 0;
}
nav #main li
{
    display: inline-block;
    height: 12vh;
}
nav a
{
    text-decoration: none; 
    line-height: 12vh;
    font-family: Arial, Helvetica, sans-serif; font-weight: bold;
    font-size: 120%; color: rgb(240, 224, 224);
    padding-left: 1vw;
}
nav #main a:hover
{
    color: #F13454; text-decoration: none;
}
/*styling collapsed menu*/
nav button
{
    background-color: #F13454; border: none; border-radius: 10%; 
    float: right; 
    width: 35px; height: 8vh;
    margin: 2vh 3vh 2vh 0;
}
.active, .collapsible:hover
{
    background-color: #F0E0E0;
}
nav button::after /*to add "+"*/
{
    content: '\02795';
    text-align: center;
}
.active::after/*to add "-"*/
{
    content: "\2796";
}
.content
{
    background-color: rgba(29, 40, 70, .9);
    text-align: center; display: none;
    clear: both;
    width: 100%; 
    position: absolute; 
    right: 0; 
}
.content a
{
    display: block; 
    text-decoration: none; padding: 2vh 0;
    font-family: Arial, Helvetica, sans-serif, serif; font-weight: bold;
    color: rgb(240, 224, 224); text-transform: uppercase;
}
.content a:active, .content a:hover
{
    color: #F13454; text-decoration: none;
}
#marked1, #marked2
{
    color: #F13454;
}
nav a:focus
{
    color: rgb(240, 224, 224); text-decoration: none;
}
/*styling about*/
.about
{
    overflow: hidden; background-color: #F0E0E0;
}
.img img
{
    height: 100%; width: 100%;
}
.intro h3
{
    font-family: "Dancing Script"; 
}
.intro p, .intro h3, .intro a
{
    color: rgb(29, 40, 70);
    padding: 0 4%; 
}
.intro span
{
    font-style: italic; font-family: 'Times New Roman', Times, serif;
    font-weight: bold; color: #F13454;
}
.intro a
{
    margin-left: 4%; display: inline-block;
    border: #F13454 1px solid; font-weight: bold; text-transform: uppercase;
    background-color: #F0E0E0; padding: 2%; margin-top: 4%; margin-bottom: 4%;
}
/*styling footer*/
footer
{
    background-color: rgb(41, 51, 78);
    height: 20vh;
    text-align: center;
}
footer p
{
    color: #F0E0E0; font-weight: bold;
    margin-top: 3vh;
}
footer i
{
    color: #F0E0E0; padding: 0 1vw;
    margin-top: 6vh;
}
footer i:hover, footer i:active
{
    color: #F13454;
}
/*for xs screens*/
@media screen and (min-width: 280px)
{
    #slider
    {
        height: 50vh; 
    }
    .change.left
    {
        top: 21vh; left: 3vw;
    }
    .change.right
    {
        top: 21vh; right: 3vw;
    }
    #slider h1
    {
        font-size: 180%;
    }
    #slider p
    {
        font-size: 110%;
    }
    .content 
    {
        top: 62vh;
    }
    .about .img 
    {
        width: 100%;
    }
    .about .intro
    {
        width: 100%; 
    }
}
/*for sm screens*/
@media screen and (min-width: 768px)
{
    #slider
    {
        height: 75vh; 
    }
    .change.left
    {
        top: 31vh; left: 3vw;
    }
    .change.right
    {
        top: 31vh; right: 3vw;
    }
    #slider h1
    {
        font-size: 240%;
    }
    #slider p
    {
        font-size: 150%;
    }
    nav ul a
    {
        font-size: 75%;
    } 
    .content 
    {
        top: 87vh;
    }
    .about .img
    {
        width: 40%; float: left; height: 40rem;
    }
    .about .intro
    {
        width: 55%; float: left;
    }
}
/*for md screens*/
@media screen and (min-width: 992px)
{
    #slider
    {
        height: 100vh; 
    }
    .change.left
    {
        top: 42vh; left: 3vw;
    }
    .change.right
    {
        top: 42vh; right: 3vw;
    }
    #slider h1
    {
        font-size: 350%;
    }
    #slider p
    {
        font-size: 250%;
    } 
    nav ul a
    {
        font-size: 120%;
    }
    .intro
    {
        font-size: 120%;
    }
    
}
/*for lg screens*/
@media screen and (min-width: 1200px)
{
    nav ul a
    {
        font-size: 120%;
    }
}